/* body {
  align-items: center;
  background: #E3E3E3;
  display: flex;
  height: 100vh;
  justify-content: center;
} */

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}
.slider {
  background: #ffffff17;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 3rem;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 600px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 8s linear infinite;
          animation: scroll 8s linear infinite;
  display: flex;
  width: calc(250px * 16);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.slide img
{
  width:70%;
  height: 50px;
}

/* .en-spec
{
  height: 70px !important;
} */